.ui.floating.label {
    position: absolute;
    z-index: 100;
    top: -0.4%;
    left: 100%;
    margin: 0em 0em 0em -1em !important;
}

.headerDrop {
    position: absolute;
    left: 60%;
    margin-right: 1%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'avenir';
    font-size: 16px;
    height: 100%;
}

.buttonSign {
    margin-top: 10px;
}

.backGround {
    background-image: url("background.jpg");
}

.ui.menu {
    border-radius: 0px;
}

.textNavBar {
    position: absolute;
    margin-top: 25px;
    font-size: 30px;
    color: white;
}

.profileCard {
    position: absolute; 
    left: 50%;
    transform: translate(-50%); 
    margin-bottom: 3%;
}

.searchButton {
    position: absolute; 
    left: 50%;
    transform: translate(-50%); 
    margin-bottom: 5%;
}

.searchResult {
    width: 95%;
    margin-left: 50%;
}

.searchResultDiv {
    margin-left: 50%;
    transform: translate(-50%); 
}

.searchProfileCard {
    position: absolute; 
    left: 50%;
    transform: translate(-50%); 
    margin-bottom: 3%;
}

.ui.card:last-child {
    margin-bottom: 0em;
    width: 420px;
}

.buttonNavBar {
    position: absolute;
    margin-top: 30px;
    font-size: 20px;
}

.textField {
    width: 200px;
    margin-top: 2%;
}

.profile {
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid #73AD21;
    background-color: rgba(255, 255, 255, 0.5);
}

.profile-name {
    position: relative;
    left: 30px;
}

.profile-avatar {
    float: left;
    position: relative;
    width: 10%;
    height: 10%;
    margin-left: 3%;
    margin-top: 3%;
    border: 3px solid #73AD21;
    background-color: rgba(255, 255, 255, 0.5);
}

.profile-line-1 {
    display: inline;
}

.profile-text-1 {
    float: left;
}

.sign {
    margin: 20%;
    /* border-radius: 70px; */
}